- if login_error?
  %p.login-box-msg
    %span.text-danger
      We couldn&apos;t email your login link.

    Please try again or contact
    = mail_to 'rachel@getsupportflow.net'
    \.

- else
  %p.login-box-msg
    Please enter your work email &mdash; we&apos;ll send your login link.

= form_for(@login, url:team_login_path(current_team)) do |form|

  .form-group.has-feedback
    = form.text_field :email_address, placeholder:'Your work email', class:'form-control'
    %span.glyphicon.glyphicon-envelope.form-control-feedback

  .row
    .text-center
      %button.btn.btn-primary.btn-flat{:type => "submit"}
        Get your login link
