.content blockquote { 
  border-left: thin solid whitesmoke;
  font-family: courier; font-size: 1em;
}

/* TODO: rename to form.label.create, form.label.destroy */
form.add-label, form.remove-label, form.name-edit, form.close {
  display: inline-block;
}

form.remove-label button.remove {
  padding-left: 0;
  padding-right: 5px;
}

.img-rounded, .img-thumbnail { 
  max-height: 40px; 
}

.actions.row {
  margin-top: 5px;
}

.activity .content pre {
  background-color: white;
  border: none;
}

.navbar .badge {
  padding-left: 5px; 
}

.navbar-right { 
  margin-right: 0; 
}

nav.navbar { 
  border: 0; 
  border-radius: 0;
}

.query.row .form-group {
  margin-bottom: 5px;
}

.filters.row {
  margin-bottom: 15px;
}

.request.row {
  margin-bottom: 5px;
}

.request.row .message_count {
  padding-right: 0;
}

.request.row .description h4 {
  margin: 0 0 2.5px 0;
}

.request.row .description h4 a.name {
  color: black;
}

.request.row .description h4 a.name:hover {
  color: #337AB7;
}

@media screen and (min-width: 768px) {
  .search.row .filters {
    padding: 10px 0 0 0;
  }
}

.guide form .content textarea {
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .guide form .content textarea {
    max-width: 300px;
  }
}
