!!!

%html{:lang => "en"}
  %head
    %title
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.9.0/semantic.min.css", :rel => "stylesheet"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.9.0/semantic.min.js"}
    
    :css
      div { border: thin solid red; }
      h1.ui.header { font-size: 4rem; }
      
  %body
    .ui.page.padded.grid
      .center.aligned.sixteen.wide.column
        %h1.ui.header
          “ My team has gone through four time tracking apps in the last two and a half years … ”
          
          .sub.header Top performing ad ...
        
        .eight.wide.column
          %p 8
          
        .eight.wide.column
          %p 8
          
        .three.column.row
          .column
            %p 3
          .column
            %p 3
          .column
            %p 3
