- content_for :help_link do
  = link_to 'Need Help?', team_public_guide_url('help', 'teams', anchor:'billing', host:host, protocol:'http')
  
%h1 Billing#show
%p Find me in app/views/billing/show.html.haml
