.search.row
  .query.col-md-6.col-md-offset-1.col-sm-6.col-sm-offset-1.col-xs-10.col-xs-offset-1
    %form
      .form-group
        %input.input-lg{ :class => 'form-control query', :type => 'text', 
          :placeholder => 'Search Requests ...' }
        
  .filters.col-md-4.col-md-offset-0.col-sm-4.col-sm-offset-0.col-xs-11.col-xs-offset-1
    .btn-group
      .btn-group
        %button{ :class => 'btn btn-default btn-xs dropdown-toggle',
        :type => 'button', 'data-toggle' => 'dropdown', 
        'aria-expanded' => false}
        
          %span.text-muted
            Filters
          %span.caret
        
        %ul{ :class => 'dropdown-menu', :role => 'menu' }
          %li
            %a{:href=>'#'}
              Open
              
          %li
            %a{:href=>'#'}
              Closed
              
          %li
            %a{:href=>'#'}
              Your open requests
             
          %li.divider
          
          %li
            %a{:href=>'#'}
              Clear filters
      
      .btn-group
        %button{ :class => 'btn btn-default btn-xs dropdown-toggle',
          :type => 'button', 'data-toggle' => 'dropdown', 
          'aria-expanded' => false}
          %span.text-muted
            Label
          %span.caret
          
        %ul{ :class => 'dropdown-menu', :role => 'menu' }
          %li
            %a{:href=>'#'}
              Pending
          %li
            %a{:href=>'#'}
              Urgent
          
      .btn-group
        %button{ :class => 'btn btn-default btn-xs dropdown-toggle',
            :type => 'button', 'data-toggle' => 'dropdown', 
            'aria-expanded' => false}
          %span.text-muted
            Agent
          %span.caret
            
        %ul{ :class => 'dropdown-menu', :role => 'menu' }
          %li
            %a{:href=>'#'}
              Joe
          %li
            %a{:href=>'#'}
              Peter
          
      .btn-group
        %button{ :class => 'btn btn-default btn-xs dropdown-toggle',
            :type => 'button', 'data-toggle' => 'dropdown', 
            'aria-expanded' => false}
          %span.text-muted
            Sort
          %span.caret
            
        %ul{ :class => 'dropdown-menu', :role => 'menu' }
          %li
            %a{:href=>'#'}
              Newest
          %li
            %a{:href=>'#'}
              Oldest
          %li
            %a{:href=>'#'}
              Most active
