- if @request.open?
  %button.btn.btn-sm.btn-danger
    %span.glyphicon.glyphicon-exclamation-sign
    Open
    
- else
  %button.btn.btn-sm.btn-success
    %span.glyphicon.glyphicon-ok-circle
    Closed
