/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require ionicons.min
 *= require font-awesome.min
 *= require jquery-ui.min
 *= require AdminLTE.min
 *= require _all-skins.min
 *= require skin-blue-light.min
 *= require redactor
 *= require_tree .
 *= require_self
 */

/* TODO: organise as resources (requests/guides) or layout/color/typography */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica, Arial, sans-serif;
}

.content blockquote {
  border-left: thin solid whitesmoke;
  font-family: courier; font-size: 1em;
}

/* TODO: rename to form.label.create, form.label.destroy */
form.add-label, form.remove-label, form.name-edit, form.close {
  display: inline-block;
}

form.remove-label button.remove {
  padding-left: 0;
  padding-right: 5px;
}

.img-rounded, .img-thumbnail {
  max-height: 40px;
}

.actions.row {
  margin-top: 5px;
}

.activity .content pre {
  background-color: white;
  border: none;
}

.navbar .badge {
  padding-left: 5px;
}

.navbar-right {
  margin-right: 0;
}

nav.navbar {
  border: 0;
  border-radius: 0;
}

.query.row .form-group {
  margin-bottom: 5px;
}

.filters.row {
  margin-bottom: 15px;
}

.request.row {
  margin-bottom: 5px;
}

.request.row .message_count {
  padding-right: 0;
}

.request.row .description h4 {
  margin: 0 0 2.5px 0;
}

.request.row .description h4 a.name {
  color: black;
}

.request.row .description h4 a.name:hover {
  color: #337AB7;
}

@media screen and (min-width: 768px) {
  .search.row .filters {
    padding: 10px 0 0 0;
  }
}

.guide form .content textarea {
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .guide form .content textarea {
    max-width: 300px;
  }
}

/* TODO: organise by app section */
.box h1, .box h2 { margin-top: 0; }
.box h1, .box h2, .box h3 { margin-top: 0; }
.box-header h1 { margin: 0; }
.box-header { padding-bottom: 0; }
.box.actions { background-color:#ECF0F5; box-shadow: none; }
.btn-danger { background-color:#E79086; border-color:#E79086; }
.btn-danger:hover { border-color: darkgray; color: black; }
.btn-info { border: none; color: dimgray; background-color: LightBlue; }
.main-footer { border-top: none; }
.open-requests { background-color: #E48A8A !important; }
.row.customer hr { margin: 1em 1.6em 1em 1em; }
.row.request hr { margin: 1em 1.6em 1em 1em; }
.small-box * { color: black; }
h1 { margin-top: 5px; }
h1, h2 { margin-top: 0; }
span.description { color: gray; }
.skin-blue .main-header .navbar { background-color: #A8CCA1; }
.request.row i.open { color: red; }
.request.row i.closed { color: green; }
.request.row i.comments { color: palegoldenrod; }
.pagination { margin-top: 0 }

.redactor-box textarea {
  background-color: black;
  color: LimeGreen;
}
