%section.content
  .row
    .col-sm-5
      %input.form-control.input-default{:placeholder => "Home Page", :type => "text"}/

    .col-sm-3
      %button.btn.btn-default Save
      %button.btn.btn-default Delete

    .col-sm-4
      %p.pull-right
        %small.text-muted
          Page publicly available at
          %a{ href:'#' }
            http://foo.com/help

          %br/

        %small.text-muted
          %a{ href:'#' }
            Page editing help guide
          |
          144 views
          \...

  .row
    .col-sm-12
      %textarea#guide_content{:cols => "", :rows => ""}

:javascript
  $(function() {
    $('#guide_content').redactor({
      focus: true,
      minHeight: 500,
      replaceDivs: false,
      deniedTags: [],
      removeEmpty: false,
      replaceTags: [],
      pastePlainText: false,
      imageUpload: "/teams/181813285/images",
      imageManagerJson: "/teams/181813285/images.json",
      uploadImageFields: { 'authenticity_token':"/fZWABEU9rHUkWKs5vG46sSrZ3BXbIDYrb+NJGYl1myp9F0q83H+Nr8gpYiVaCE+cDLwYfs/RxpEyfWPR3u5jQ==" },
      fileUpload: "/teams/181813285/files",
      fileManagerJson: "/teams/181813285/files.json",
      definedLinks: "/teams/181813285/links.json",
      plugins: ['table', 'imagemanager', 'filemanager', 'fullscreen', 'definedlinks']
    })
  });
