%li
  %i.fa.fa-book

  .timeline-item
    %span.time
      %i.fa.fa-clock-o= timeline_date activity

    %h3.timeline-header
      - owner_link activity
      created guide
      = link_to activity.trackable.name, 
          guide_path(current_team, activity.trackable)