.notice.callout
  %p.text-center
    You&apos;re using a
    %b
      demo
    account &mdash;
    = link_to 'start your trial', new_team_trial_path(current_team)
    for the full version.
  
    Questions?
    = mail_to 'rachel@getsupportflow.com'
    is here to help!