%li
  %i.fa.fa-cogs

  .timeline-item
    %span.time
      %i.fa.fa-clock-o
      = timeline_date activity
      
    %h3.timeline-header
      - owner_link activity
      updated
      = link_to activity.recipient.name, customer_path(activity.recipient)
      happiness with
      - link_to_request activity
      from
      %s.text-muted= activity.parameters['was'].to_i
      to
      %b= activity.parameters['now'].to_i
      \ %