%li
  %i.fa.fa-comment-o

  .timeline-item
    %span.time
      %i.fa.fa-clock-o
      = timeline_date activity

    %h3.timeline-header
      - owner_link activity
      commented on
      - link_to_request activity
      &mdash;
      = activity.parameters['comment']