%li
  %i.fa.fa-envelope.bg-red

  .timeline-item
    %span.time
      %i.fa.fa-clock-o
      = timeline_date activity

    %h3.timeline-header
      - owner_link activity
      opened
      - link_to_request activity
      - request_name activity

    - if activity.email.present?
      .timeline-body
        = email_content activity.email

        %span.text-muted
          Attachments:

        - activity.email.attachments.each do |attachment|
          = link_to attachment.name, email_attachment_path(attachment)