%li
  %i.fa.fa-cogs

  .timeline-item
    %span.time
      %i.fa.fa-clock-o
      = timeline_date activity
      
    %h3.timeline-header
      - owner_link activity
      renamed
      - link_to_request activity
      &nbsp;
      %s.text-muted= activity.parameters['from']
      &nbsp;
      %b= activity.parameters['to']