%li
  %i.fa.fa-cogs

  .timeline-item
    %span.time
      %i.fa.fa-clock-o
      = timeline_date activity

    %h3.timeline-header
      - owner_link activity
      merged
      - link_to_request activity
      - request_name activity
      with
      = link_to "##{activity.recipient.id}",
          team_request_path(current_team, activity.recipient)

      %small= activity.parameters['merged_request_name']