!!!

%html{ lang:'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = csrf_meta_tags
    %script{:src => "https://code.jquery.com/jquery-1.11.2.min.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }
    %title Support Flow
    
    -# TODO: move to css file
    :css
      nav.navbar { border: 0; border-radius: 0; }
      .navbar-right { margin-right: 0; }
      .navbar .badge { padding-left: 5px; }
      .list-group-item { border: thin solid white; margin-bottom: 1em; 
        padding-left: 0; }
      .list-group-item-heading > a { color: black; }
      .list-group-item-heading > a:hover { color: blue;  }
      .img-rounded, .img-thumbnail { max-height: 35px; }
      .content blockquote { border-left: thin solid whitesmoke; }
      .content blockquote { font-family: courier; font-size: 1em; }
      
      //div { border: thin solid red; }
      
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %p.navbar-text 
            %b Support Flow
          
        %ul.nav.navbar-nav
          %li.active
            = link_to(requests_path) do
              Requests
              
              %span.badge
                15
             
          %li
            %a{ href:'#' } Guides
          %li
            %a{ href:'#' } Customers
          %li
            %a{ href:'#' } Agents
          %li
            %a{ href:'#' }
              Need help?
            
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a{ href:'#', :class => 'dropdown-toggle navbar-right', 
                  :role => 'button', 'data-toggle' => 'dropdown',
                  'aria-expanded' => false }
              Settings
            
            %ul{ :class => 'dropdown-menu', :role => 'menu' }
              %li
                %a{ href:'#' }
                  Mailboxes
              %li
                %a{ href:'#' }
                  Billing
                  
              %li.divider
              %li
                %a{ href:'#' }
                  Log out

    .container
      = yield
