!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportFlow
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'

  %body.login-page
    .login-box

      .login-logo
        %a{href:'http://getsupportflow.com'}
          %b> Support
          %i Flow

      .login-box-body
        %br/

        = yield